<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Chris Marasco</h1>
    <br />
    <h2>Aspiring Developer and Systems Administrator</h2>
    <br />
    <br />
  </div>
</div>