<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Dashboard</h1>
  <hr>
  <br />
  <br />
  <h2>Resume</h2>
  <hr class="pull-left">
  <br />
  <h2>Projects</h2>
  <hr>
  <br />
</div>