<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Projects</h1>
  <hr />
  <div class="col-10 offset-1 booyah-box">
        <% if @projects.exists? %>
          <% @projects.each do |project| %>
            <b>Project Title:  </b><%= project.title %>
            <br />
            <b>Description:  </b><%= project.description %>
          <% end %>
        <br />
        <br />
      <% end %>
            </div>
      <hr>
      <div class="col-12 offset-1">
        <br />
          <%= link_to 'Create Project', new_project_path, class: 'btn btn-success' %>
      </div>
  <br />
  <br />
</div>