<div class="booyah-box col-10 offset-1 text-center">
  <h1>Create a Project</h1>
  <hr />

  <div class="col-4 offset-1 pull-right">
  <br />
    <%= link_to 'Create Project', new_project_path, class: 'btn btn-success' %>
  </div>

    <br />
    <br />

  <div class="col-10 offset-1 booyah-box">
    <br />
    <br />
      <h1>Projects</h1>
    <hr>
      <% if @projects.length > 0 %>
        <%= @projects.each do |project| %>
          <b><%= project.title %></b>
          <p><%= project.description %></p>
      <% end %>
    
      <% end %>
    </div>
</div>